@page
@model Logistics.ClientUI.Pages.AboutModel
@{
}<!-- inner banner -->
<div class="inner-banner-w3ls d-flex flex-column justify-content-center align-items-center bb-img">
</div>
<!-- //inner banner -->
<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-lg-start">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">About Us</li>
    </ol>
</nav>
<!-- //breadcrumbs -->
<!---728x90--->
<!-- about-->
<section class="single_grid_w3_main align-w3">
    <div class="container">
        <div class="row pt-lg-4">
            <div class="col-lg-5">
                <div class="wthree_pvt_title  mb-3">
                    <h4 class="w3pvt-title">
                        about Load Dispatch
                    </h4>

                </div>
                <div class="single_grid_text pt-lg-3">
                    <p>
                        Load Dispatch is an indigenous load board and fleet managemnt company ..
                    </p>
                    <p class="my-2">
                        Need profile
                    </p>
                    <p>
                        Need profile
                    </p>
                    <a class="btn bg-theme mt-4 w3ls-btn d-inline-block" href="about.html">
                        view more
                    </a>
                </div>
            </div>
            <div class="col-lg-7 mt-lg-0 mt-4">
                <div class="slide-img-2 bb-img">
                    <img src="~/images/slider/slide_3.jpg" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about -->
<!---728x90--->
<!-- about-->
<section class="single_grid_w3_main align-w3 bb-img">
    <div class="container">
        <div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">Superior Services</h4>
            @*<p class="sub-title">
                    Subheadings stand out because they are like mini titles. They make your post stand
                    out and
                    make it more readable.
                </p>*@
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-truck"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>road freight</h4>
                                <p>Our repository of Road Freighters can help furnish you with the needed info.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-lg-0 my-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-plane"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>air freight</h4>
                                <p>We also help manage delievery of  goods from air freight .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-ship"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>sea freight</h4>
                                <p>Load Board Solutions for your goods that come via the sea ports.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-lg-5 pt-4">
            <div class="col-lg-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-cog"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>Consulting</h4>
                                <p>Our top notch consultants help you make that vital decision.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-lg-0 my-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-dropbox"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>ware house</h4>
                                <p>If you are looking for a warehouse to lease for your goods we provide such services..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-bicycle"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>fast delivary</h4>
                                <p>We ensure that your goods gets to it's destination in record time.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about -->
<!---728x90--->
<!-- services -->
<section class="bg-services position-relative align-w3" id="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="services-bg-color">
                    <div class="wthree_pvt_title mb-3">
                        <h4 class="w3pvt-title w3pvt-titl-sec text-wh">
                            what we provide
                        </h4>
                        @*<span class="sub-title text-li">add your caption here</span>*@
                    </div>
                    <div class="row">
                        <div class="col-md-6 service-title my-4">
                            <h4 class="home-title text-theme">Freight Forwarding</h4>
                            <p class="sec-4">
                                we help  organize shipments for individuals or corporations
                                to get goods from the manufacturer or producer to a market.
                            </p>
                        </div>
                        <div class="col-md-6 service-title my-md-4">
                            <h4 class="home-title text-theme">Load Board Services</h4>
                            <p class="sec-4">
                                Seamless delievery experience with our vetted providers.
                            </p>
                        </div>
                        <div class="col-md-6 service-title mt-4">
                            <h4 class="home-title text-theme">Warehousing</h4>
                            <p class="sec-4">
                                Need a place to house your consignement while you get things worked out?
                            </p>
                        </div>
                        <div class="col-md-6 service-title mt-4">
                            <h4 class="home-title text-theme">Consulting</h4>
                            <p class="sec-4">
                                We offer you consulting services based on our wealth of experience in the market place
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <a href="about.html" class="btn w3ls-btn">view more</a>
                    </div>
                </div>

            </div>
            <div class="offset-lg-2"></div>
        </div>
    </div>
</section>
<!-- //services -->
<!-- team -->
