@page
@model Logistics.ClientUI.Pages.CarrierModel
@{
}
@section Background{
    <header class="top-area2" id="home">
        <div class="top-area-bg2" data-stellar-background-ratio="0.6"></div>

}
<div class="welcome-area">
    <div class="area-bg2"></div>
    <div class="container">
        <div class="row flex-v-center">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="welcome-text text-right">

                    <ul class="page-location">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li>/</li>
                        <li><a href="#">Carrier</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</header>
<section class="blog-area blog-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="single-blog wow fadeIn">
                    <div class="welcome-slider-area">
                        <div class="welcome-single-slide slider-bg-one">
                            <div class="container">
                                <div class="row flex-v-center">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="welcome-text text-center">
                                            <h1>WE MAKE STRONGEST SERVICE ABOVE THE WORLD</h1>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="welcome-single-slide slider-bg-two">
                            <div class="container">
                                <div class="row flex-v-center">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="welcome-text text-center">
                                            <h1>WE MAKE STRONGEST SERVICE ABOVE THE WORLD</h1>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="welcome-single-slide slider-bg-three">
                            <div class="container">
                                <div class="row flex-v-center">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="welcome-text text-center">
                                            <h1>WE MAKE STRONGEST SERVICE ABOVE THE WORLD</h1>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details">

                        <h3><a href="single-blog.html">Quick Transportation Service in the world</a></h3>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting</p>
                        <blockquote>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</blockquote>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>