@page "/shipper/truck-listing"
@model Logistics.AdminUI.Pages.Shipper.SearchTruckModel
@{
}




<div class="card">
    <div class="card-header">
        <h3 id="formTitle">
            Search Trucks
        </h3>
    </div>
        <div class="card-body">

            <div class="container">

               
                <p class="lead">Search for available trucks that match your  listings.</p>

                <hr />

                <p class="text-center lead">
                    You currently have no vehicles listed on our repository.<br />
                    <a href="/shipper/add-vehicle">Post a Vehicle</a> to get started.
                </p>

                <br>

            </div>

        </div>
 </div>